.contenedor-general-filtros{
    height: 99%;
    background-color: rgba(240, 248, 255, 0.678);
   
    margin: 3px;
    border-radius: 10px;
    gap:20px;

    .contenedor-bloque-filtro{
        height: 100%;
        padding: 5px;
    }
}