.contenedor-general {
  height: 100%;
  display: grid;

  grid-template-areas: "cont-recetas" "tabla";
  grid-template-rows: 500px 1fr;
  gap: 5px;

  .contenedor-receta {
    height: 100%;

    grid-area: cont-recetas;
    display: grid;
    margin: 2px;
    grid-template-areas: "receta botonera";
    grid-template-columns: 1300px 1fr;
    gap: 2px;
    .receta {
      border: 2px black solid;
      height: 100%;
      grid-area: receta;
    }
    .boton {
      border: 2px black solid;
      height: 100%;
      grid-area: botonera;
    }
  }
  .tabla {
    border: 2px black solid;
    grid-area: tabla;
    margin: 2px;
  }
}
